@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><br>Welcome - Azure Assessment</br></h1>
    <footer> Victor M C Robinson</footer>
    <img src="https://sublimestudio.com.br/2015/wp-content/uploads/2014/12/infnet.png" alt="logotipo" width=500 height=300>
</div>
